.admin-volunteer {
  width: 70%;
  margin: 200px;
}
.admin-volunteer h1{
 margin-bottom: 100px;
 text-align: center;
 justify-content: center;
}

.admin-volunteer input[type="text"],
.admin-volunteer button {
  margin-bottom: 50px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.admin-volunteer input[type="text"]{
  margin-left: 50px;
}

.admin-volunteer button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-volunteer button:hover {
  background-color: #0056b3;
}

.volunteer-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.volunteer-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.volunteer-card h2 {
  margin-top: 0;
  
}

.volunteer-card button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.volunteer-card button:hover {
  background-color: #c82333;
}
/* 
.add-field {
  margin-top: 20px;
}

.add-field input,
.add-field select,
.add-field textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-field button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-field button:hover {
  background-color: #218838;
} */
